#mainPage{
	background-image: url("https://az616578.vo.msecnd.net/files/2017/02/19/636231392414672858-1392360444_o-ARREST-facebook.jpg");
}

#mostWantedHeading{
	font-size: 80px;
	color: white;
	text-align: center;

}
#startSearching{
	text-align: center;
}